[data-theme="dark"] {
  --color-bg : rgb(20,18,24);
  --color-nav : rgb(33,31,38);
  --color-text : rgb(230,225,229);
}

[data-theme="light"] {
  --color-bg: rgb(255, 255, 255);
  --color-nav: rgb(240, 240, 245);
  --color-text: rgb(30, 30, 35); 
}

body {
  background-color: var(--color-bg);
}

.nav {
  background-color: var(--color-nav);
}

.navText {
  color: var(--color-text);
}
